# Core functionality - changes here should be rare!
/src/app.py                   @stdso
/src/backend/database.py      @stdso
/src/backend/routers/auth.py  @stdso

# The frontend will need refactored soon to be more object oriented.
/src/static/   @stdso
